@import '../abstracts/variables';

.card {
    &--wrapper {
        cursor: pointer;
        background-color: white;
        margin-bottom: 20px;
        border-radius: 8px;
        padding: 16px 24px;
        transition: box-shadow .3s;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 180px;
        width: 100%;
        position: relative;
        @include sm {
            height: auto;
        }
        &:hover {
            box-shadow: 5px 5px 30px -5px #000000;
        }
        p {
            font-size: 14px;
            margin-top: 4px;
            line-height: 150%;
            @include sm {
                font-size: 12px;
            }
        }
    }
    &--image-container {
        max-height: 80px;
        max-width: 80px;
    }
    &--business-image {
        height: 100%;
        min-width: 148px;
        max-width: 148px;
        object-fit: cover;
        border-radius: 2px;
        @include sm {
            height: 100px;
            min-width: 100px;
        }
    }
    &--content {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
    }
    &--name-title {
        font-size: 24px;
        font-weight: 600;
        @include sm {
            font-size: 18px;
        }
    }
    &--sub-header-title {
        font-weight: 600;
    }
    &--animated{
        outline: none;
        &::after{
                transform: scaleX(1.4) scaleY(1.6);
                opacity: 0;
            
        }
        &:active{
            transform: translateY(-1px);
            box-shadow: 0 .0rem 0rem rgba($color-black,.2);
        }
    }
    &--viewed-icon {
        position: absolute;
        bottom: 10px;
        right: 10px;
    }
}